<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Sungwi Kim: Waste Sorter'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Sungwi Kim: Waste Sorter'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Sungwi Kim: Waste Sorter" />
  <title>SUNGWI KIM</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="../css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="../css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href="../">SUNGWI KIM</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="../#works">WORKS</a></li>
            <li class="gnav-item"><a href="../#skill">SKILL</a></li>
            <li class="gnav-item"><a href="../#about">ABOUT</a></li>
            <li class="gnav-item"><a href="../#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <article class="article">
        <div class="article-container">
          <h2 class="article-title">Waste Sorter</h2>
          <div class="article-body">
            <p>
              Hackathon project @nwHacks 2025<br>
              : Helps individuals and businesses correctly sort waste, reduce environmental impact, and contribute to a cleaner city.
              <img src="../img/ai_trash/home.png" alt="">
            </p>
            <p>
              Barcode Scanning: Identifies products by scanning barcodes and fetching details from an API database.
              <br> Input: Barcode scanning
            </p>
            <p>
              <img src="../img/ai_trash/barcode_input.png" alt="">
            </p>
            <p>
              Output: Displays product details and waste sorting instructions.
            </p>
            <p>
              <img src="../img/ai_trash/barcode_output.png" alt="">
            </p>
            <p>
              Image Recognition: Uses a TensorFlow-trained model to classify waste items from images.
              <br> Input: Image Recognition
            </p>
            <p>
              <img src="../img/ai_trash/image_input.png" alt="">
            </p>
            <p>
              Output: Displays waste sorting instructions.
            </p>
            <p>
              <img src="../img/ai_trash/image_output.png" alt="">
            </p>
            <p>
              Manual Input: Allows users to input product names to determine the correct waste category. 
              <br> Input: Manual Input
            </p>
            <p>
              <img src="../img/ai_trash/manual_input.png" alt="">
            </p>
            <p>
              Output: Displays waste sorting instructions.
            </p>
            <p>
              <img src="../img/ai_trash/manual_output.png" alt="">
            </p>
            
            <h3>SOURCE</h3>
            <p>
              <a href="https://github.com/sungwi/nwHacks2025" target="_blank" rel="noopener">GitHub of App</a><br>
              <a href="https://github.com/sungwi/nwHacks2025_TensorFlow" target="_blank" rel="noopener">GitHub of TensorFlow Model</a><br>
              <a href="https://devpost.com/software/vancouver-waste-sorter" target="_blank" rel="noopener">nwHacks Project page</a><br>
              <a href="https://nw-hacks2025-git-override-sungwi-kims-projects.vercel.app/" target="_blank" rel="noopener">Deploy</a><br>
            </p>
            <h3>STACK</h3>
            <p>Python, Django, TypeScript, React, TensorFlow, OpenAI API</p>
            <h3>DURATION</h3>
            <p>2025.1/18 - 2025.1/19</p>
          </div>
          <div class="home-link">
            <a href="../#works">To Works</a>
          </div>
        </div>
      </article>

      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Sungwi Kim</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="../js/script.js"></script>
</body>
</html>