<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='WebデザイナーTARO YAMADA ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='TARO YAMADAのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="TARO YAMADAのポートフォリオサイトです" />
  <title>SUNGWI KIM</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="../css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="../css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href="../">SUNGWI KIM</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="../#works">WORKS</a></li>
            <li class="gnav-item"><a href="../#skill">SKILL</a></li>
            <li class="gnav-item"><a href="../#about">ABOUT</a></li>
            <li class="gnav-item"><a href="../#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <article class="article">
        <div class="article-container">
          <h2 class="article-title">Budget Tracker</h2>
          <div class="article-body">
            <p>
              Group project at SFU
              <img src="../img/budget/budget_tracker_input.png" alt="">
            </p>
            <p>
              Given user inputs about their expenses on various items such as food, housing, or hobbies, it calculates and optimizes their spending by comparing it to the average expense statistics for undergraduates in Vancouver.
            </p>
            <p>
              <img src="../img/budget/budet_tracker_result1.png" alt="">
            </p>
            <p>
              After the user selects the duration for their expenses, it provides a summary with various aspects of spending, including comments on items where expenses can be reduced.
            </p>
            <p>
              <img src="../img/budget/budet_tracker_result2.png" alt="">
            </p>
            <p>
              It displays a bar graph comparing estimated costs and optimized costs, with options to select between daily, weekly, and total durations.
            </p>
            <p>
              <img src="../img/budget/budet_tracker_dark_mode.png" alt="">
            </p>
            <p>
              Dark mode
            </p>
            
            <h3>SOURCE</h3>
            <p><a href="https://github.com/sungwi/Budget_Tracker" target="_blank" rel="noopener">https://github.com/sungwi/Budget_Tracker</a></p>
            <h3>STACK</h3>
            <p>HTML, CSS, JavaScript</p>
            <h3>DURATION</h3>
            <p>2023.9 - 2023.11</p>
          </div>
          <div class="home-link">
            <a href="../#works">To Works</a>
          </div>
        </div>
      </article>

      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Sungwi Kim</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="../js/script.js"></script>
</body>
</html>