<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Sungwi Kim: Waste Sorter'>
  <meta property='og:url' content='https://sungwi.github.io/portfolio/'>
  <meta property='og:description' content='Sungwi Kim: Waste Sorter'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Sungwi Kim: Waste Sorter" />
  <title>SUNGWI KIM</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="../css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="../css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="../img/shortcut.png" />
  <link rel=”canonical” href=”https://sungwi.github.io/portfolio/” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href="../">SUNGWI KIM</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="../#works">WORKS</a></li>
            <li class="gnav-item"><a href="../#skill">SKILL</a></li>
            <li class="gnav-item"><a href="../#about">ABOUT</a></li>
            <li class="gnav-item"><a href="../#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <article class="article">
        <div class="article-container">
          <h2 class="article-title">DBSCAN</h2>
          <div class="article-body">
            <p>
              Research Project at SFU<br>
              Implemented <b>DBSCAN</b> to identify density-based clusters and outliers.
            </p>
            <p>
                Parameter tuning(eps) was guided by a <b>k-distance graph</b>, which showed an elbow at 4.0. 
                Using this as a baseline, we refined the model to eps=3.0 and min_samples=30.<br>
                To visualize the results, we used PCA to project the data into 2D. <br>
                The model achieved a silhouette score of 0.123, showing that dense customer groups are successfully 
                distinguished from noises.
                <img src="../img/dbscan/top.png" alt="">
            </p>
            <p>
                Applied <b>LOF</b> to detect anomalies based on local density deviations, configuring the model 
                with n_neighbros=20 and a contamination rate of 5%.<br> Using PCA for visualization, 
                I observed that outliers were flagged in low-density regions and near cluster boundaries.<br>
                Although some outliers appear to overlap with normal data in the 2D projection, 
                this is expected as LOF identifies local outliers which could be subtle anomalies,
                as well as the inevitable information loss from dimensionality reduction.
              <img src="../img/dbscan/lof.png" alt="">
            </p>
            <p>
                Trained a <b>Random Forest Classifier</b> using 5-fold cross-validation to predict customer churn. 
                Hyperparameter Tuning via <b>Grid Search</b> revealed that the default model was already robust,
                and the tuning showed only marginal improvements. However, incorporating feature selection 
                with MI optimzed the model slightly. Final validation using Confusion Matrices and ROC curves 
                confirmed that the model has the strong capability to distinguish between churned and existing customers.
              <img src="../img/dbscan/roc.png" alt="">
            </p>
            
            <h3>SOURCE</h3>
            <p>
              <a href="https://github.com/sungwi/DBSCAN_project" target="_blank" rel="noopener">GitHub</a><br>
              <a href="https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers" target="_blank" rel="noopener">Dataset</a><br>
            </p>
            <h3>STACK</h3>
            <p>DBSCAN, LOF, Random Forest</p>
            </p>
            <h3>DURATION</h3>
            <p>2025.10 - 2025.11</p>
          </div>
          <div class="home-link">
            <a href="../#works">To Works</a>
          </div>
        </div>
      </article>

      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Sungwi Kim</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="../js/script.js"></script>
</body>
</html>