<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='WebデザイナーTARO YAMADA ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='TARO YAMADAのポートフォリオサイトです。'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="TARO YAMADAのポートフォリオサイトです" />
  <title>SUNGWI KIM</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="../css/ress.css" media="all" rel="stylesheet" type="text/css" />
  <link href="../css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div class="wrapper">

    <!-- header -->
    <header class="header ">
      <div class="container">
        <h1 class="header-logo">
          <a href="../">SUNGWI KIM</a>
        </h1>
        <nav class="gnav">
          <ul class="gnav-list">
            <li class="gnav-item"><a href="../#works">WORKS</a></li>
            <li class="gnav-item"><a href="../#skill">SKILL</a></li>
            <li class="gnav-item"><a href="../#about">ABOUT</a></li>
            <li class="gnav-item"><a href="../#contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- /header -->

    <main class="content">

      <article class="article">
        <div class="article-container">
          <h2 class="article-title">Pokédex</h2>
          <div class="article-body">
            <p>
              <img src="../img/pokedex/toppage1.png" alt="">
            </p>
            <p>
              Pokédex or Pokémon visual dictionary. Replicated the iconic Pokédex from the Pokémon series.
              <br>
              Pokémon are displayed in a card format with its index on the top page.
              <br>
              Each card of Pokémons is linked to its detail page as shown below.
            </p>
            <p>
              <img src="../img/pokedex/detailpage1.png" alt="">
            </p>
            <p>
              At the bottom of the detail page, there are also links to the detail pages of the Pokémon with the previous and next Pokédex indexes.
            </p>
            <p>
              <img src="../img/pokedex/detailpage2.png" alt="">
            </p>
            <p>
              <img src="../img/pokedex/validform.png" alt="">
            </p>
            <p>
              The search bar on the top allows users to find and access the detailed pages of specific Pokémon.
            </p>
            
            <h3>SOURCE</h3>
            <p><a href="https://github.com/sungwi/Pokedex" target="_blank" rel="noopener">https://github.com/sungwi/Pokedex</a></p>
            <h3>STACK</h3>
            <p>Python, Django, SQLite, HTML, CSS, Poké API</p>
            <h3>DURATION</h3>
            <p>2024.6 - 2024.7</p>
          </div>
          <div class="home-link">
            <a href="../#works">To Works</a>
          </div>
        </div>
      </article>

      <div class="page-top" id="js-page-top">
        <span class="material-icons-outlined">expand_less</span>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="copyright">&copy;Sungwi Kim</div>
    </footer>
    <!-- /footer -->

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type='text/javascript' src="../js/script.js"></script>
</body>
</html>